@import "../../../../TYPO3.Neos/Resources/Private/Styles/Constants";

/* _Content.scss */
.neos-contentelement {
	position: relative;
}

.neos-contentelement.neos-contentelement-has-comments:after {
	position: absolute;
	right: 0;
	top: 0;

	content: " ";
	border: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #08c transparent transparent; /* $linkColor == #08c */

	pointer-events: none;
}

.neos-contentelement.neos-contentelement-has-comments:before {
	position: absolute;
	right: 2px;
	top: -1px;

	color: white;
	font-family: FontAwesome;
	font-size: 9px;
	content: "\f086";

	z-index: 10;
}

/* Inspector */

.comments-editor {
	.neos-add-comment {
		margin-bottom: $defaultMargin;

		textarea {
			max-height: 100% !important;
			margin-bottom: $defaultMargin - $tightMargin;

			&:focus {
				line-height: $unit - 2px !important;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		}
	}

	.neos-inspector-headline {
		margin-left: -16px;
	}

	.neos-single-comment {
		margin-bottom: $defaultMargin - $tightMargin;

		header {
			position: relative;
			width: 100%;

			span {
				box-sizing:border-box;
				display: inline-block;
				width: 100%;
				padding-left: $tightMargin;
				padding-right: 100px;
				height: 40px;
				line-height: 40px;

				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				background-color: $grayMedium;
			}
		}

		.neos-delete-comment {
			position: absolute;
			right: 0px;
			top: 0px;
		}

		.neos-comment-text {
			border: 1px solid $grayMedium;
			margin-top: -3px;
			padding: $tightMargin;
			padding-top: $defaultMargin;
			padding-bottom: $defaultMargin;
		}
	}
}